html {
    scroll-behavior: smooth;
}

.bg-primary {
    background-color: #f05f40 !important;
}

.text-primary {
    color: #f05f40 !important;
}

.bg-secondary {
    background-color: white !important;
}