.btn-primary {
    background-color: #7ED321;

}

.jumbotron{
    background-image: url('./flowershop.jpg');
}

.display-4{
    font-weight: 900;
    color: #fff;
}

.example {
    height:20px;
    width: 100%;
    background-color: #7ED321;
}